@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Custom Swiper Pagination Styles */


.swiper-pagination-bullet-active {
  background: #D81324; /* Active bullet color */
  opacity: 1; /* Fully visible active bullet */
  
}

.swiper-pagination {
  bottom: 10px; /* Adjust position if necessary */
}



 